/* GLOBAL */

.uppercase{
  text-transform: uppercase;
}

/* APPLICATION */

.application {
  width: 100%;
  height: 80px;
  border-bottom: solid thin black;
}

/* CHAMPION */

.champ-name{
  width: 120px;
  text-align: center;
}

.champ-img img{
  display: block;
  margin: 0 auto;
}

/* ROLE */
.side-nav{
  width: 15%;
  float: left;

  li{
    list-style-type: none;
  }
}

.main-content{
  width: 85%;
  float: left;
}
