<div class="side-nav">

    <ul>
        <li class="selected">
            <span>TOP</span>
        </li>
        <li>
            <span>MID</span>
        </li>
        <li>
            <span>JUNGLE</span>
        </li>
        <li>
            <span>ADC</span>
        </li>
        <li>
            <span>SUPPORT</span>
        </li>
    </ul>

</div>

<div class="main-content">

  <div class="uppercase">
      to select a champion, simply click and drag it to the selected region
  </div>

  <div style="width: 100%;">

    {{drop-zone id="selected-champs" dropped="drop"}}

    <div style="width: 50%; float: left; overflow: scroll; height: 100vh;">

        <div style="text-align: center;">AVAILABLE</div>

        <div class="row">
          {{#each availableChamps as |userChampion|}}

            {{champion-card content=userChampion.champion columns=3}}

          {{/each}}
        </div>

    </div>

  </div>

</div>